
		
		
		<section class="row detail">
			
		<div class="large-4 columns detail-user">
			
			<!-- ======== Details Header ======== -->
			<div class="row detail-header">
				<div class="large-3 small-3 columns avatar">
					<img class="avt" src="assets/images/avatar.png" alt="avatar"/>
				</div>
				<div class="large-9 small-9 columns">
					<h2>FaceBook</h2>
					<a href="#">by Mark Zuckerberg</a>
				</div>
			</div>
			
			<!-- ======== Project Details ======== -->
			<div class="row">
				<div class="statistics">
					<div class="row views collapse">
						<div class="small-7 columns">
							<i class="fa fa-eye fa-lg"></i><span>Views</span>
						</div>
						<div class="small-3 columns">
							<span class="right">2521</span>
						</div>
					</div>
					<div class="row likes collapse">
						<div class="small-7 columns">
							<i class="fa fa-heart fa-lg"></i><span>Likes</span>
						</div>
						<div class="small-3 columns">
							<span class="right">521</span>
						</div>
					</div>
					<div class="row comments collapse">
						<div class="small-7 columns">
							<i class="fa fa-comment fa-lg"></i><span>Comments</span>
						</div>
						<div class="small-3 columns right">
							<span class="right">21</span>
						</div>
					</div>
				</div>				
			</div>
			
			<!-- ======== About Project ======== -->
			<div class="row">
				<div class="small-12 columns">
					<p class="sub-title"><em>About Project</em></p>
					<p class="about-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
			
			<!-- ======== Project Tags ======== -->
			<div class="row">
				<div class="small-12 columns">
					<p class="sub-title"><em>Project Tags</em></p>
					<ul class="tags2 inline-list">
						<li><a href="#">Web</a></li>
						<li><a href="#">Application</a></li>
						<li><a href="#">Development</a></li>
					</ul>
				</div>
			</div>
		</div>			
		
		
		<!-- ======== PROJECT VIEWER ======== -->	
	
		<div class="large-8 columns detail-viewer">
			<div class="row">
				<div class="large-10 small-12 large-centered small-centered columns viewer">
				<br/><br/><br/><br/><br/><br/><br/><br/>
					<img src="assets/images/sample_project.jpg" alt="sample_project"/>
					<h2>This is a sample project</h2>
				</div>
			</div>
		</div>
		
		</section> <!-- ======== END PROJECT ======== -->
		
		
