		<section class="cta">
            <div class="row">
                <div class="large-8 intro columns">

                    <h1 class="greenLight lobster title">Behancio App</h1>
                    <h2 class="greyLight">Quickly Glance through curated Weekly Top 10 Behance Portfolios on any device & client.</h2>
                    <br/>
                    <h2 class="try-it"><a class="button success-dark radius" href="#/projects">Try it out!</a></h2>
                    <h4 class="github"><a href="https://github.com/enoklabs/1310-MADRID-MDD-PROJECT" target="_blank"><i class="fa fa-github"></i><span class="github-link"> Link on Github</span></a></h4>
                </div>
                <div class="large-4 hide-for-small intro columns">
                    <br/><br/><br/>
                    <img class="right" src="assets/images/iphone_behancio.png">
                </div>

            </div>
		</section>

                <br/><br/>

        <section>
            <div class="row">
                <div class="large-7 columns">
                    <br/><br/>
                    <h3>Behance anywhere from any device</h3>
                    <br/>


                    <p>
                        Are you a web designer? Do you do graphics? Or maybe illustrations like an artist? Have you ever had a lack of inspiration? Sometimes you don't know where to start.
                    </p>

                    <div class="flex-video">
                        <iframe width="640" height="360" src="//www.youtube.com/embed/s1OGc3V69Iw" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <p>
                    With Behancio you can select your criteria stream of inspiration porfolios directly from Behance. We also serve you with our top 10 curated porfolios from leaders in the design industry. Having resources and inspiration has never been easier, now you can literaly have access to the resources from the palm of your hands. Behancio is not only a mobile application but it is also perfect for the desktop platform and can be used with any browser. Go ahead and hop on this train, we really hope you enjoy this app.
                    </p>

                </div>
                <div class="large-5 columns">
                    <br/><br/>
                    <div class="panel-dark">
                        <h5><i class="fa fa-envelope-o fa-2x"></i> Want to stay updated?</h5><br/>
                        <p>We've been collecting tips for creating successful portfolios from professionals in the creative fields.
                            Enter you email to get access to these resources and updates from Behancio.</p>

                        <div class="row collapse padding-reset">
                            <div class="small-7 columns email">
                                <input type="email" placeholder="Enter your email"/>
                            </div>
                            <div class="small-5 columns">
                                <h5><a class="button info-dark radius">Subscribe</a></h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>