<br/>
        <!-- ==== SAMPLE USER CONTROLLER PULLING DATA FROM THE USERS FACTORY ==== -->
        <div class="row" data-ng-controller="UsersController">
            <div class="large-7 large-centered columns panel">
                <h3>Portfolio List Creator</h3>
                <br/>
                <input type="text" data-ng-model="filter.name" placeholder="Filter by Name:"/>
                <br/>

                <ul>
                    <li data-ng-repeat="user in users | filter:filter.name | orderBy:'name'">
                        <strong>{{ user.name }}</strong> - Behance Profile link: <a href="http://www.behance.net/{{ user.url }}" target="_blank">www.behance.net/{{ user.url }}</a>
                    </li>
                </ul>

                <br/><hr/>
                <h5>Add a new User Link to the list:</h5>
                <br/>
                <input type="text" data-ng-model="newUser.name" placeholder="Name"/>
                <br/>
                Behance.net/
                <input type="text" data-ng-model="newUser.url" placeholder="profile url"/>
                <br />
                <a class="button success-dark radius" data-ng-click="addCustomer()">Add User</a>
            </div>
        </div>


<br/><br/>

        <!-- ============== PORTFOLIO LISTING ================ -->
		<section class="listing">
            <div class="row left-align">
                <div class="large-4 large-uncentered  small-centered columns">
                    <div class="list-container shadow">

                        <a href="#/detail">
                            <div class="list-title">
                                <h5>Project Title</h5>
                                <span>by Enok Madrid</span>
                            </div>
                            <div class="list-img">
                                <img src="assets/images/sample.jpg"/>
                            </div>
                        </a>
                    	<div class="list-footer">
	                    	<div class="row collapse">
		                    	<div class="tags large-4 small-4 columns">
			                    	<a href="#">Illustration</a>
		                    	</div>
		                    	<div class="tags large-8 small-8 columns">
			                    	<ul class="right">
				                    	<li class="left"><i class="fa fa-eye"></i><span>340</span></li>
				                    	<li class="left"><i class="fa fa-heart"></i><span>197</span></li>
			                    	</ul>
		                    	</div>
	                    	</div>
                    	</div>	                   
                    </div>
                </div>
            </div>
		</section>
