<br/>
        <!-- ==== SAMPLE USER CONTROLLER PULLING DATA FROM THE USERS FACTORY ==== -->
        <div class="row hide-for-small" data-ng-controller="UsersCtrl">
            <div class="large-7 large-centered columns panel">
                <h3>Portfolio List Creator</h3>
                <br/>
                <input type="text" data-ng-model="filter.name" placeholder="Filter by Name:"/>
                <br/>

                <ul>
                    <li data-ng-repeat="user in users | filter:filter.name | orderBy:'name'">
                        <strong>{{ user.name }}</strong> - Behance Profile link: <a href="http://www.behance.net/{{ user.url }}" target="_blank">www.behance.net/{{ user.url }}</a>
                    </li>
                </ul>

                <br/><hr/>
                <h5>Add a new User Link to the list:</h5>
                <br/>
                <input type="text" data-ng-model="newUser.name" placeholder="Name"/>
                <br/>
                Behance.net/
                <input type="text" data-ng-model="newUser.url" placeholder="profile url"/>
                <br />
                <a class="button success-dark radius" data-ng-click="addUser()">Add User</a>
            </div>
        </div>


<br/><br/>

        <!-- ============== PORTFOLIO LISTING ================ -->
		<section class="listing">
            <div class="row left-align">
                <div class="large-4 large-uncentered  small-centered columns">
                    <div class="list-container shadow">

                        <a href="http://www.behance.net/gallery/Toucan-Mascot/4465611">
                            <div class="list-title">
                                <h5>Toucan Mascot</h5>
                                <span>by Enok Madrid</span>
                            </div>
                            <div class="list-img">
                                <img src="assets/images/1.jpeg"/>
                            </div>
                        </a>
                    	<div class="list-footer">
	                    	<div class="row collapse">
		                    	<div class="tags large-4 small-4 columns">
			                    	<a href="#">Cartooning</a>
		                    	</div>
		                    	<div class="tags large-8 small-8 columns">
			                    	<ul class="right">
				                    	<li class="left"><i class="fa fa-eye"></i><span>294</span></li>
				                    	<li class="left"><i class="fa fa-heart"></i><span>15</span></li>
			                    	</ul>
		                    	</div>
	                    	</div>
                    	</div>	                   
                    </div>
                </div>

                <div class="large-4 large-uncentered  small-centered columns">
                    <div class="list-container shadow">

                        <a href="http://www.behance.net/gallery/Enoks-Laboratory/5008255">
                            <div class="list-title">
                                <h5>Enok's Laboratory</h5>
                                <span>by Enok Madrid</span>
                            </div>
                            <div class="list-img">
                                <img src="assets/images/2.jpeg"/>
                            </div>
                        </a>
                        <div class="list-footer">
                            <div class="row collapse">
                                <div class="tags large-4 small-4 columns">
                                    <a href="#">Illustration</a>
                                </div>
                                <div class="tags large-8 small-8 columns">
                                    <ul class="right">
                                        <li class="left"><i class="fa fa-eye"></i><span>309</span></li>
                                        <li class="left"><i class="fa fa-heart"></i><span>24</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="large-4 large-uncentered  small-centered columns">
                    <div class="list-container shadow">

                        <a href="http://www.behance.net/gallery/Write-Magazine/4947829">
                            <div class="list-title">
                                <h5>Write Magazine</h5>
                                <span>by Enok Madrid</span>
                            </div>
                            <div class="list-img">
                                <img src="assets/images/3.png"/>
                            </div>
                        </a>
                        <div class="list-footer">
                            <div class="row collapse">
                                <div class="tags large-4 small-4 columns">
                                    <a href="#">Illustration</a>
                                </div>
                                <div class="tags large-8 small-8 columns">
                                    <ul class="right">
                                        <li class="left"><i class="fa fa-eye"></i><span>248</span></li>
                                        <li class="left"><i class="fa fa-heart"></i><span>12</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="large-4 large-uncentered  small-centered columns">
                    <div class="list-container shadow">

                        <a href="http://www.behance.net/gallery/Hot-Air/5348401">
                            <div class="list-title">
                                <h5>Hot Air</h5>
                                <span>by Enok Madrid</span>
                            </div>
                            <div class="list-img">
                                <img src="assets/images/4.png"/>
                            </div>
                        </a>
                        <div class="list-footer">
                            <div class="row collapse">
                                <div class="tags large-4 small-4 columns">
                                    <a href="#">Branding</a>
                                </div>
                                <div class="tags large-8 small-8 columns">
                                    <ul class="right">
                                        <li class="left"><i class="fa fa-eye"></i><span>55</span></li>
                                        <li class="left"><i class="fa fa-heart"></i><span>4</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="large-4 large-uncentered  small-centered columns">
                    <div class="list-container shadow">

                        <a href="http://www.behance.net/gallery/Digital-Painted-Characters/7904591">
                            <div class="list-title">
                                <h5>Digital Painted Characters</h5>
                                <span>by Enok Madrid</span>
                            </div>
                            <div class="list-img">
                                <img src="assets/images/5.jpeg"/>
                            </div>
                        </a>
                        <div class="list-footer">
                            <div class="row collapse">
                                <div class="tags large-4 small-4 columns">
                                    <a href="#">Character</a>
                                </div>
                                <div class="tags large-8 small-8 columns">
                                    <ul class="right">
                                        <li class="left"><i class="fa fa-eye"></i><span>87</span></li>
                                        <li class="left"><i class="fa fa-heart"></i><span>7</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="large-4 large-uncentered  small-centered columns">
                    <div class="list-container shadow">

                        <a href="http://www.behance.net/gallery/Film-CharacterLogo/7783819">
                            <div class="list-title">
                                <h5>Film Character/Logo</h5>
                                <span>by Enok Madrid</span>
                            </div>
                            <div class="list-img">
                                <img src="assets/images/6.jpeg"/>
                            </div>
                        </a>
                        <div class="list-footer">
                            <div class="row collapse">
                                <div class="tags large-4 small-4 columns">
                                    <a href="#">Character</a>
                                </div>
                                <div class="tags large-8 small-8 columns">
                                    <ul class="right">
                                        <li class="left"><i class="fa fa-eye"></i><span>9</span></li>
                                        <li class="left"><i class="fa fa-heart"></i><span>133</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="large-4 large-uncentered  small-centered columns">
                    <div class="list-container shadow">

                        <a href="http://www.behance.net/gallery/Squid-Engine/5239513">
                            <div class="list-title">
                                <h5>Squid Engine</h5>
                                <span>by Enok Madrid</span>
                            </div>
                            <div class="list-img">
                                <img src="assets/images/7.png"/>
                            </div>
                        </a>
                        <div class="list-footer">
                            <div class="row collapse">
                                <div class="tags large-4 small-4 columns">
                                    <a href="#">Digital Art</a>
                                </div>
                                <div class="tags large-8 small-8 columns">
                                    <ul class="right">
                                        <li class="left"><i class="fa fa-eye"></i><span>27</span></li>
                                        <li class="left"><i class="fa fa-heart"></i><span>338</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
		</section>
