h1, h2, h3, h4, h5, h6, p,
textarea, label, a, span,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"]{
	font-family: 'Lato', 'Arial', serif;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"]{
    border-radius: 6px;
    height: 35px;
}
textarea{
    border-radius: 6px;
    height: 100px;
}
li{
    list-style: none;
}
header{
    background: #dde9ec;
}
.form {
    background: #fbfcfc;
    padding: 20px;
}
.form i{
    color: #8C9899;
    font-size: small;
}
.viewer{
    background: #fcfcfc;
}
.top-bar{
    /*background: #ecf0f1;*/
    height: 62px;
    margin-bottom: 0;
}
.top-bar.expanded{
    background: #34495E;
}
.title-area{
    height: 62px;
}
.top-bar-section ul, .top-bar-section ul li > a {
    box-shadow: none;
}
.top-bar-section ul li > a, .top-bar-section ul li > a:hover {
    height: 62px;
}
.form-title i{
    font-size: 1.3em!important;
}



/*********** COLORS ************/
.greenDark{
    color: #16a085;
}
.greenLight{
    color: #1abc9c;
}
.blueDark{
    color: #2c3e50;
}
.blueNormal{
    color: #34495e;
}
.blueLight{
    color: #6084a9;
}
.greyDark{
    color: #7f8c8d;
}
.greyNormal{
    color: #bdc3c7;
}
.greyLight{
    color: #ecf0f1;
}
.white{
    color: #ffffff;
}
a{
    color: #16a085;
}
a:hover{
    color: #1abc9c;
}
.lobster{
    font-family: 'Lobster', cursive;
}


/************** HOME CTA ****************/
.cta{
    background: url("../images/bg.jpg")no-repeat scroll 0 0 #2c3e50;
    background-position: center;
}
.intro{
    margin: 60px 0 30px 0;
}
.intro h1{
    font-size: 6em;
}
.title{
    margin-bottom: 20px;
}
.github{
    margin-top: 30px;
}
.github-link{
    font-size: large;
}
.try-it a{
    margin-bottom: 0;
}
.panel-dark{
    padding: 40px 40px 30px 40px;
    background: #ecf0f1;
    border: 2px solid #e6ebed;
    margin-bottom: 1.25em;
}
.email input[type="email"]{
    height: 50px;
}
.padding-reset{
    padding: 0!important;
}


/*********** PROJECT LISTING ************/
.listing{
    background: #ecf0f1;
}
.list-title > h5{
    margin: 0;
    color: #16a085;
}
.list-title > span{
    margin: 0;
    font-size: 13px;
    color: #bdc3c7;
}
.list-footer{
    background: #2c3e50;
    border-radius: 0 0 5px 5px;
}
.left > span{
    color: #16a085;
}
li.left{
    padding-left: 20px;
}
.fa{
    padding-right: 5px;
}
.list-container{
	background: #ffffff;
    border-radius: 5px;
    margin: 40px 0;
}
.row.collapse{
    padding: 20px 10px 0 10px;
    font-size: 14px;
}
.list-title{
    padding: 10px;
}
.shadow{
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
}
i{
    color: #16a085;
}


/*********** PROJECT DETAILS ************/
.detail{
	max-width: 100%;
	background: #2c3e50;
}
.detail-header{
	padding: 30px 0;
}
.detail-user{
	background: #2c3e50;
	color: #6084a9;
}
.detail-viewer{
    background: #ffffff;
}
.detail h1, .detail h2, .detail h3{
	color: #16a085;
	margin: 0;
}
.detail a{
	font-size: 14px;
}
.avt{
	border-radius: 100px;
}
.statistics i{
	color: #6084a9;
}
.statistics span{
	text-align: right;
	font-size: large;
}
.statistics{
	background: #34495e;
	margin: 15px;
	padding: 15px;
}
.statistics div.collapse{
	padding: 18px;
}
.sub-title{
	font-size: small;
	font-weight: 300;
	padding-top: 25px;
	margin-bottom: 8px;
}
.about-paragraph{
	font-weight: 300;
}
.tags2{
	padding-bottom: 50px;
}
.viewer{
	background: #f9f9f9;
}
.viewer h2{
	text-align: center;
	padding: 100px 0;
}
.small-7.columns > span{
    padding-left: 10px;
}

/*********** User Profile ************/
.profile{
    max-width: 100%;
    padding: 0;
    margin: 0;

}
.gravatar{
    background: #8aa5ba;
    height: 180px;
    width: 180px;
    border: 10px solid white;
    margin-left: 15px;
}
.user-icon{
    font-size: 8em!important;
    color: #556f88;
    text-align: center;
}
.social{
    padding: 0!important;
    margin-bottom: 60px!important;
}
.about{
    padding-bottom: 40px;
}
.user-settings{
    padding-bottom: 130px;
}
/************** FOOTER ***************/

footer{
    background: #ecf0f1;
}
footer .row{
    padding: 60px 0 30px;
}